<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        @*TODO Logo kontrol edilecek link çalışmıyor görünümü bozuyor responsive tasarımı bozuyor*@
        @*<em class="navbar-brand" href="/home/index" style="color: black; font-size: 45px;">Pizza<span style="color: red; font-size: 50px;">Love</span></em>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>*@
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">PizzaLove</a>
        <div class="col-md-9">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a asp-controller="Home" asp-action="Index" class="nav-link active" aria-current="page">Ana Sayfa</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Kampanyalar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">İletişim</a>
                </li>
                @if (User.Identity.IsAuthenticated)
                {
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="ProductList" class="nav-link">Admin Ürünler</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="CreateProduct" class="nav-link">Ürün Ekle</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="CategoryList" class="nav-link">Kategoriler</a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="Admin" asp-action="CreateCategory" class="nav-link">Kategori Ekle</a>
                        </li>
                    }
                }
            </ul>
        </div>
        <div class="col-md-3">
            <ul class="navbar-nav mr-auto">
                @if (User.Identity.IsAuthenticated)
                {
                    <li class="nav-item">
                        @*TODO Kullanıcı için kullanıcı yönetim ekranı eklenecek*@
                        <a>@User.Identity.Name</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Logout" class="nav-link">Logout</a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Login" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="Register" class="nav-link">Register</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</nav>