@model ProductListModel

<partial name="_slider" />
<div class="row">
    <div class="col-md-12">
        @foreach (var item in Model.Products)
        {
            <p>@item.Name</p>
        }
    </div>
</div>




