@model ProductListModel

<partial name="_slider" />
<div class="row">
    @*<div class="col-md-12">*@
        @foreach (var item in Model.Products)
        {
            <partial name="_product" for="@item" />
        }
    @*</div>*@
</div>




